<h2>Add a cocktail</h2>

<%= simple_form_for(@cocktail) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.submit %>
<% end %>
<%= link_to "Go back to cocktail list", cocktails_path, class: "btn btn-primary"%>
